{% extends 'base.html.twig' %}

{% block body %}
    <h1>GroupOf list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupOf in groupOfs %}
            <tr>
                <td><a href="{{ path('groupof_show', { 'id': groupOf.id }) }}">{{ groupOf.id }}</a></td>
                <td>{% if groupOf.createdAt %}{{ groupOf.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ groupOf.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('groupof_show', { 'id': groupOf.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('groupof_edit', { 'id': groupOf.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('groupof_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
